version: '3'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "mongodb:/data/db"
    networks:
      - network1

volumes:
  mongodata:

networks:
  network1:
